<div class="panel-group col-sm-6"> 
	<div class="panel-heading" id="postHeading">
		Login
	</div> 
	<%= form_for :session, url: login_path do |f| %> 
	<div class="panel-body">
		
			<%= f.label :email %> 
			<%= f.email_field :email, class: "form-control" %> 

			<%= f.label :password %> 
			<%= f.password_field :password, class: "form-control" %> 
	</div> 
	<div class="col-sm-2"> 
			<%= f.submit "Login", class: "btn btn-primary" %> 
	</div>
	<% end %> 
	<div class="col-sm-4">
		Don't have an account? Sign up <%= link_to "HERE", users_new_path %> 
	</div>

</div>
