<div class="panel-group"> 
	<div class="panel-header" id="postHeading">
		New User Sign Up 
	</div> 
	<div class="panel-body">
		<%= form_for @user do |f| %> 
			<%= render 'shared/error_with_user' %> 

			<%= f.label :first_name %> 
			<%= f.text_field :first_name, class: "form-control" %> 

			<%= f.label :last_name %> 
			<%= f.text_field :last_name, class: "form-control" %> 

			<%= f.label :email %> 
			<%= f.email_field :email, class: "form-control" %>

			<%= f.label :password %> 
			<%= f.password_field :password, class: "form-control" %> 

			<%= f.label :password_confirmation %> 
			<%= f.password_field :password_confirmation, class: "form-control" %> 
	</div> 
	<div class="col-sm-2">
			<%= f.submit "Sign Up!", class: "btn btn-success col-sm-12" %> 
	</div>
		<% end %> 
	</div> 
</div>
