<div class="container">
	<div class="jumbotron">
		<h1 id="center_logo">POST It</h1> 
		<div class="postAction">
			<%= link_to "Write a POST", posts_new_path, class: "btn btn-lg btn-primary", 
																														id: "codeButton" %> 
			<%= link_to "Sign UP", users_new_path, class: "btn btn-success" %> 
		</div>

	</div> 
	<% @posts.each do |post| %> 
		<div class="col-sm-12">
			<div id="postHeading"><%= post.postName %></div> 
		</div> 
			<div class="panel-body col-sm-12"><%= post.content %></div>
			<div class="col-sm-12" id="postFoot">
				<div class="poster col-sm-9">Poster:</div> 
			<%= post.poster %>
			</div>
			
	<% end %>

</div>
